@model Category

<form method="post" class="mt-4">
    <input asp-for="Id" hidden />

    <div class="p-4 rounded-4 shadow-sm border bg-white">
        <div class="row mb-4">
            <div class="col">
                <h2 class="text-primary fw-bold">Edit Category</h2>
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="form-label fw-semibold text-dark"></label>
            <input asp-for="Name" class="form-control rounded-3" />
            <span asp-validation-for="Name" class="text-danger small"></span>
        </div>

        <div class="mb-4">
            <label asp-for="DisplayOrder" class="form-label fw-semibold text-dark"></label>
            <input asp-for="DisplayOrder" class="form-control rounded-3" />
            <span asp-validation-for="DisplayOrder" class="text-danger small"></span>
        </div>

        <div class="d-flex gap-3 mt-4">
            <button type="submit" class="btn btn-custom-update">
                <i class="bi bi-arrow-repeat me-2"></i> Update
            </button>

            <a asp-controller="Category" asp-action="Index" class="btn btn-custom-back">
                <i class="bi bi-arrow-left me-2"></i> Back to List
            </a>
        </div>

    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
